%menu-text{
  font-family: 'whitney-medium';
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  color: #fff;
}

%text-font{
  font-family: 'whitney-book';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

$whitney: 'whitney-medium', serif;