@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

main {
  background: linear-gradient(150deg, rgba(41, 43, 47, 1) 56%, rgba(53, 1, 113, 1) 100%);
  background-repeat: no-repeat;
}

.header {
  background-color: #5865F2;

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item:nth-child(1) {
    padding-right: 100px;
  }

  // плавное подчеркивание ссылки
  &__list-link {
    @extend %menu-text;
    position: relative;
    cursor: pointer;
  }

  &__list-item a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    transition: width 0.3s ease-out;
  }

  &__list-item a:hover:after,
  &__list-item a:focus:after {
    width: 100%;
  }
}

.logo {
  padding: 20px 0;
}

.server {
  padding-bottom: 75px;

  &__title {
    font-family: 'whitney-bold';
    font-size: 47px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 70px;
  }

  &__invite-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 125px;
    grid-row-gap: 100px;
    place-items: center;
  }

  &__invite {
    width: 250px;
    height: 150px;
  }

  &__logo-container {
    min-width: 100%;
    min-height: 100%;
    background-color: #1E2023;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name-text {
    display: flex;
    justify-content: space-between;
  }

  &__name-owner {
    display: flex;
    flex-direction: column;
    @extend %text-font;
    padding-top: 5px;
  }

  &__name-owner span {
    opacity: 0.8;
  }

  &__setting{
    height: 34px;
    width: 90px;
    background-color: #1E2023;
    border-radius: 5px;
    margin-top: 7px;
    @extend %text-font;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  background-color: rgba(24, 25, 28, 1);

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @extend %text-font;
    margin-bottom: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__menu-title {
    font-family: $whitney;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 7px;
  }
}


@import 'media';